body { margin: 0; padding: 0; }

#header_text, #header_overlay {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
}

#header_overlay {
  background: #666;
  opacity: 0.7;
  z-index: 5000;
}

#header_text {
  z-index: 5001;
  text-align: center;
}

#header_text h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 15px 0 0 0;
}

#introduction {
  margin: 75px 0 0 0;
}

#labor, #liberal {
  margin-bottom: 25px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  /* width set by JavaScript */
}
#labor img { width: 135px; vertical-align: bottom; }
#liberal img { width: 80px; vertical-align: bottom; }
#labor { float: left; }
#liberal { float: right; }

#main, #about_header, #about {
  font-family: "Source Sans Pro", sans-serif;
}

#main {
  margin: 0 30px 50px 30px;
}

.segment {
  text-align: center;
}

.segment h2 {
  font-weight: normal;
  font-size: 21px;
  margin: 0 0 15px 0;
}

.desc {
  font-size: 15px;
  margin: 0 auto;
  font-style: italic;
  width: 300px;
  min-height: 7.5em;
  line-height: 125%;
}

.desc a {
  color: #0000cc;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
  color: #da0000;
}

.left_graph { float: left; }
.right_graph { float: right; }
hr { clear: both; }

/* charts */

rect {
  fill: #7a7a7a;
}

line.zero {
  stroke: #999;
}

text.label {
  font-size: 12px;
  fill: #666;
}

text.value {
  font-size: 14px;
}

/* http://css-tricks.com/examples/hrs/ */
hr {
  margin: 35px 200px 0 200px;
  padding: 0;
  border: none;
  border-top: medium double #bbb;
  text-align: center;
}
hr:after {
  content: "$";
  color: #666;
  display: inline-block;
  position: relative;
  top: -13px;
  font-size: 13px;
  padding: 0 10px;
  background: white;
  z-index: 10;
}

#about_header {
  margin: 50px 0;
  text-align: center;
}

button {
  width: 200px;
  height: 50px;
  text-align: center;
  background: #fee0e0;
  border: solid 1px #c00;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

#about {
  z-index: 50 !important; /* le sigh */
}

.blocker { z-index: 40 !important; }

.modal {
  display: none;
  width: 700px;
  background: #fff;
  padding: 15px 30px 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url("img/close.png") no-repeat 0 0;
}
