body { margin: 0; padding: 0; }

#header_text, #header_overlay {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
}

#header_overlay {
  background: #666;
  opacity: 0.7;
  z-index: 5000;
}

#header_text {
  z-index: 5001;
  text-align: center;
}

#header_text h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 15px 0 0 0;
}

#main {
  font-family: "Source Sans Pro", sans-serif;
  margin: 75px 30px 50px 30px;
}

.segment {
  text-align: center;
}

.segment h2 {
  font-weight: normal;
  font-size: 21px;
  margin: 0 0 15px 0;
}

.desc {
  font-size: 15px;
  margin: 0 auto;
  font-style: italic;
  width: 300px;
  min-height: 7.5em;
  line-height: 125%;
}

.desc a {
  color: #0000cc;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
  color: #da0000;
}

.left_graph { float: left; }
.right_graph { float: right; }
hr { clear: both; }

/* charts */

line.zero {
  stroke: #333;
}

text.label {
  font-size: 10px;
  fill: #999;
}

text.value {
  font-size: 10px;
}

/* http://css-tricks.com/examples/hrs/ */
hr {
  margin: 35px 200px 0 200px;
  padding: 0;
  border: none;
  border-top: medium double #bbb;
  text-align: center;
}
hr:after {
  content: "§";
  color: #666;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
  z-index: 10;
}
